<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="keywords" content="{{ keywords }}" lang="cs" />
    <meta name="author" content="{{ package.author }}" />
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="/assets/theme.css">
    <link rel="stylesheet" href="/assets/custom.css">
</head>

<body>
    <header>
        <a href="/" title="Úvodní stránka SYMBIO Access devices">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="110mm" height="174.565" version="1.1" viewBox="0 0 11000 4619"
                shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd"
                clip-rule="evenodd">
                <g fill="#000">
                    <path d="M2673 2466l273-17c6 44 18 78 36 101 29 38 72 56 127 56 41 0 72-10 95-29 22-19 33-41 33-67 0-24-10-46-32-65-21-19-70-37-147-54-126-28-215-66-269-113s-81-106-81-179c0-48 14-93 41-135 28-42 69-76 125-100s132-36 228-36c119 0 209 22 271 66s99 114 111 210l-270 16c-7-42-22-72-45-91s-55-28-95-28c-33 0-59 7-75 21-17 14-25 31-25 52 0 15 7 28 21 40s46 24 96 34c125 27 215 54 269 82s94 62 118 103c25 41 37 87 37 137 0 59-17 114-49 164-33 50-79 88-138 114s-133 39-223 39c-158 0-267-30-328-91s-95-138-103-232zm892-621h318l187 313 187-313h316l-361 539v389h-287v-389l-361-539zm1098 0h377l146 564 145-564h376v928h-234v-707l-182 707h-212l-181-707v707h-235v-928zm1227 0h537c89 0 158 22 206 67 48 44 72 99 72 164 0 55-17 102-51 141-23 26-56 47-100 62 67 16 116 44 147 83s47 88 47 147c0 48-11 91-33 130-22 38-53 69-92 91-24 14-60 24-109 30-65 8-107 13-129 13h-495v-928zm289 364h125c45 0 76-8 94-23 18-16 26-38 26-67 0-27-9-48-26-63-18-15-48-23-92-23h-127v176zm0 364h146c49 0 84-9 104-26s30-41 30-71c0-27-10-49-30-66s-55-25-105-25h-146v188zm730-728h287v928h-287v-928zm457 464c0-151 42-269 127-354 84-84 202-127 352-127 154 0 273 41 357 124 83 83 125 199 125 348 0 108-18 197-55 267-37 69-89 123-158 162s-155 58-258 58c-105 0-191-17-260-50-68-33-124-86-167-158s-64-162-64-271zm287 1c0 94 17 161 52 202s82 61 142 61c62 0 109-20 143-60s51-112 51-216c0-87-18-151-53-192-35-40-83-60-143-60-58 0-104 20-139 61s-52 109-52 203z"
                        fill-rule="nonzero" />
                    <path d="M1661 2853c938 463 2789 1266 3839 1266 1115 0 1929-323 2801-745 372-174 740-349 1109-530l1091-548c-107-50-1398-685-1623-796-826-405-2111-1001-3063-1001-713 0-1061 59-1711 273-710 234-1773 676-2433 1002-382 189-783 358-1169 547 202 85 910 415 1161 530zm3839 984c-887 0-2449-678-3241-1069-212-97-809-376-980-448 326-160 665-303 987-462 557-276 1455-649 2054-846 549-181 843-230 1445-230 803 0 1888 503 2586 845 190 93 1280 630 1370 672l-921 462c-311 153-621 301-936 447-736 356-1423 629-2365 629z"
                    />
                </g>
            </svg>
        </a>
        <h1>
            <a href="/" title="Úvodní stránka Symbio Access devices">Symbio Access devices</a>
        </h1>
        <nav>
            <a class="active" href="/elektronicke-pomucky-pro-zrakove-postizene">Elektronické pomůcky</a>
            <a href="/kontakty">Kontakty</a>
            <a href="/manualy-prirucky">Manuály / Příručky</a>
            <a href="/cenik-produktu">Ceník produktů</a>
            <a href="/podporili-nas">Podpořili nás</a>
            <a href="/spolupracujeme">Spolupracujeme</a>
        </nav>
    </header>
    <main>
        <aside class="toolbox">
            <a class="toolbox__button" href="#" id="toggle-invert-colors" role="button" title="Invertovat barvy">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="72" height="72" viewBox="0 0 72 72">
                    <g fill="#444">
                        <path d="M36 58.781v-43.453l-12.656 12.656c-3.375 3.375-5.344 8.016-5.344 12.797 0 9.674 8.325 18 18 18zM53.016 23.766c9.422 9.422 9.422 24.469 0 33.891-4.641 4.641-10.828 7.031-17.016 7.031s-12.375-2.391-17.016-7.031c-9.422-9.422-9.422-24.469 0-33.891l17.016-17.016z"></path>
                    </g>
                </svg>
            </a>
            <a class="toolbox__button" href="#" id="toggle-zoom-font" role="button" title="Změnit velikost písma">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="72" height="72" viewBox="0 0 72 72">
                    <g fill="#444">
                        <path d="M64.547 27v9h-9v20.953h-9v-20.953h-9v-9h27zM7.453 11.953h39.094v9h-15.047v36h-9v-36h-15.047v-9z"></path>
                    </g>
                </svg>
            </a>
            <script>
                const invertButton = document.querySelector('#toggle-invert-colors')
                invertButton.addEventListener('click', () => {
                    document.body.classList.toggle('invert-colors');
                    invertButton.classList.toggle('invert');
                })
                const zoomButton = document.querySelector('#toggle-zoom-font');
                zoomButton.addEventListener('click', () => {
                    document.documentElement.classList.toggle('zoom-font-size');
                    zoomButton.classList.toggle('invert');
                })
            </script>
        </aside>
        <article>
            {{{ contents }}}
        </article>
    </main>
</body>

</html>